{% include base_path %}

{% comment %} Use image field from post data {% endcomment %}
{% if post.image %}
  {% assign teaser = post.image %}
{% else %}
  {% assign teaser = nil %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: \"list\" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <div class="publication-layout">
      {% if teaser %}
        <div class="publication-image">
          <img src="{{ teaser }}" alt="{{ title }}" class="publication-teaser">
        </div>
      {% endif %}
      
      <div class="publication-content">
        <div class="publication-title">
          <strong>{{ title }}</strong>
        </div>
        <div class="publication-authors">
          {{ post.citation | split: '(' | first | strip }}
        </div>
        <div class="publication-venue">
          {{ post.venue }}, {{ post.date | date: \"%Y-%m-%d\" }}
        </div>
        {% if post.paperurl %}
          <div class="publication-links">
            <a href="{{ post.paperurl }}">[PDF][Paper Link]</a>
          </div>
        {% endif %}
      </div>
    </div>
    </li>
 </article>
</div>